<!doctype html>
<html lang="en" ng-app="Mezclas">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS --
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/94fff88fb4.js" crossorigin="anonymous"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="uikit-3.7.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Calcule Mezclas</title>
  </head>
  <!--<body background="fondo.jpg">-->
  <body>
    
    <nav class="uk-navbar-container uk-margin" id="nav" uk-navbar>
      <div class="uk-navbar-center uk-margin">
        <div class="uk-margin-small-top uk-margin-small-left">
          <svg id="logo" height="90" width="90">
            <circle cx='41' cy='41' r='40' stroke='white' stroke-width='1' fill-opacity="0" />
            <circle cx='41' cy='41' r='37' stroke='white' stroke-width='2' fill-opacity="0" />
            <circle cx='41' cy='41' r='33' stroke='white' stroke-width='3' fill-opacity="0" />
            <circle cx='41' cy='41' r='28' stroke='white' stroke-width='4' fill-opacity="0" />
            <text x="20 n" y="52" stroke="white" fill='white' font-size="32">UA</text>
          </svg>
        </div>
        <div class=" uk-visible@s">
          <svg height="50" width="180">
            <text x='15' y='19' stroke="white" stroke-width='1' fill='white' font-size="19">U N I A G R A R I A</text>
            <line x1="15" x2="172" y1='28' y2="28" stroke="white" stroke-width='0.8'></line>
            <text x='15' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">LA</text>
            <text x='33' y='46' stroke="white" stroke-width='0.8' fill='white' font-size="12.5">U VERDE</text>
            <text x='88' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">DE COLOMBIA</text>
          </svg>
        </div>
        <div class="">
          <h1></h1>
        </div>
      </div>
    </nav><!-- fin del navabar/////////////////////-->

    <div id="banner">
      <div class="" id="banner1">
        <article class="uk-article">

          <h1 class="uk-article-title"><a class="uk-link-reset" href="">Diseño de Mezclas</a></h1>
      
          <!--<p class="uk-text-lead">rud exercitation ullamco laboris nisi ut aliquip.</p>-->

          <p>Este método de diseño de mezclas permite obtener la cantidad de cada material(cemento, agua y agregados) que compone la unidad cubica de concreto, este método se basa en el procedimiento desarrollado por el comité 211 del ACI</p>
          <p>Para empezar complete cada recuadro de la siguiente sección, para ver los resultados oprima el boton de resultados y 
            complete la información restante
          </p>
      </article>
      </div>
      <div id="banner2" class="uk-visible@m" style="background-image: url(fondo.jpg);">
        <img src="img-icon/fondo.jpg" alt="calculo mexclas ingenieria civil">
      </div>
    </div>
    <br><br>
    
    <div class="uk-container">
      
    </div>
    <div class="uk-container" ng-controller="Controlador1" id="panelGrande">
      
      <div class="uk-container"></div>
      
      <div class="" id="panelIzq">
        <ul>
          <li>
            <button class="botonIzq uk-button-secondary" id="botonContainerIngreso" ng-click="setVisiblePanel(1)">Ingreso</button>
          </li>
          <li>
            <button class="botonIzq uk-button-secondary" id="botonContainerResultado" ng-click="setVisiblePanel(2)">Resultados</button>
          </li>
        </ul>
        <button class="botonDerecho  uk-button-primary" id="botonCalcular" ng-click="calcular()">Calcular</button>
      </div>
      <br>
      <div>
        <div class="panel uk-container" id ="panelIngreso" style="display:inline-block;">
          <br>
          <div class="panelBotones" >
            <ul>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(1);"> PesoEspecifico</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(2);"> Absorcion</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(3);"> Contenido de Humedad</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(4);"> Modulo Fineza</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(5);"> Tamaño Max y peso Seco</button></li>
            </ul>
        
          </div>
          <div class="contenido">
        <div class="panelIngreso" id="pesoEspecifico">
          <h3>Peso Especifico</h3><br>
          <div id="pesoSecoCemento">
            <div class="uk-margin">
             Peso especifico del Cemento<input class="uk-input uk-form-width-medium" type="number" placeholder="3.15" id="pesoEspecificoCemento"  ng-model="pesoEspecificoCemento"> gr/cm&#179
            </div>
            <div class="uk-margin">
              Peso especifico del Agregado Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="3.15" id="pesoEspecificoAgregadoFino" ng-model="pesoEspecificoAgregadoFino"> gr/cm&#179
             </div>
             <div class="uk-margin">
              Peso especifico del Agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="3.15" id="pesoEspecificoAgregadoGrueso" ng-model="pesoEspecificoAgregadoGrueso"> gr/cm&#179
             </div>
          </div>
        </div>
        <div class="panelIngreso" id="absorcion" style="display: none;">
          <h3>Absorcion</h3><br>
           <div class="uk-margin">
            Absorcion del Agregado Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="0.7" id="absorcionAgregadoFino" ng-model="absorcionAgregadoFino"> %
            </div>
            <div class="uk-margin">
            Absorcion del Agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="0.5" id="absorcionAgregadoGrueso" ng-model="absorcionAgregadoGrueso"> %
            </div>
        </div>
        <div class="panelIngreso" id="ContenidoHumedad" style="display: none;">
          <h3>Contenido de Humedad</h3><br>
           <div class="uk-margin">
            Contenido de Humedad Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="6" id="contenidoHumedadAgregadoFino" ng-model="contenidoHumedadAgregadoFino"> %
            </div>
            <div class="uk-margin">
              Contenido de Humedad Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="2" id="contenidoHumedadAgregadoGrueso" ng-model="contenidoHumedadAgregadoGrueso"> %
            </div>
        </div>

        <div class="panelIngreso" id="moduloFineza" style="display: none;">
          <h3>Modulo de Fineza</h3><br>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Modulo Fineza agregado fino</label>
            <div class="uk-form-controls">
                <select class="uk-select  uk-form-width-small" id="moduloFinezaAgregadoFino" ng-model="moduloFinezaAgregadoFino">
                    <option>2.4</option>
                    <option>2.6</option>
                    <option>2.8</option>
                    <option>3</option>
                </select>
                "
            </div>
        </div>
            <div class="uk-margin">
              modulo fineza agregado grueso<input class="uk-input uk-form-width-medium" type="number" placeholder="1" id="moduloFinezaAgregadoGrueso" ng-model="moduloFinezaAgregadoGrueso">"
            </div>
        </div>

        <div class="panelIngreso" id="tamanoPesoSeco" style="display: none;">
          <h3>Tamaño y Peso seco</h3><br>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Tamaño maximo Agregado grueso (")</label>
            <div class="uk-form-controls">
                <select class="uk-select  uk-form-width-small" id="tamanoMAxAgregadoGrueso" ng-model="tamanoMAxAgregadoGrueso">  
                    <option>3/8</option>
                    <option>1/2</option>
                    <option>3/4</option>
                    <option>1</option>
                    <option>1.5</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="uk-margin">
          Peso seco compactado agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="1600" id="pesoSecoAgregadoGrueso" ng-model="pesoSecoAgregadoGrueso"> kg/m&#179
        </div>
        <div class="uk-margin">
          Resistencia en compresion <input class="uk-input uk-form-width-medium" type="number" placeholder="190" id="resistenciaEnCompresion" ng-model="resistenciaEnCompresion"> kg/cm&#178
         </div>
         <div class="uk-margin">
          Desviacion estandar <input class="uk-input uk-form-width-medium" type="number" placeholder="20" id="desviacionEstandar" ng-model="desviacionEstandar"> kg/cm&#178
         </div>
        </div>

        <ul>
          <li>
            <button class="botonIzq uk-button-primary" id="botonAtras" ng-click="atras()">Atras</button>
          </li>
          <li>
            <button class="botonIzq uk-button-primary" id="botonSiguiente" ng-click="siguiente()">Siguiente</button>
          </li>
        </ul>
        <br><br>
        </div>
      </div>

      <div class="panel uk-container" id ="panelResultados" style="display:none;">
        <br>
        <div class="panelBotones">
          <ul>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(1);"> Resistencia y tamaño del agregado</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(2);"> Asentamiento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(3);"> Volumen de Agua</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(4);"> Contenido Aire</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(5);"> Relacion agua cemento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(6);"> Factor cemento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(7);"> Contenido Agregado grueso</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(8);"> Volumen absoluto</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(9);"> Contenido de Agregado Fino</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(10);"> Correcion por humedad</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(11);"> Proporcion en peso</button></li>
            
          </ul>
        </div>
        <div class="contenido">
        <div class="panelIngreso" id="resistenciaTamMax">
          <h3>Resistencia y Tamaño maximo</h3><br>
          <div>
            resistencia promedio <span id=resistenciaPromedio>{{resistenciaPromedio}}</span>kg/cm&#178
          </div><br>
          <div>
            DEACUERDO A LAS ESPECIFICACIONES DE OBRA, A LA GRANULOMETRIA DEL <br>AGREGADO 
            LE CORRESPONDE UN TAMAÑO MAXIMO DE 
             <span id=resistenciaPromedio>{{tamanoMaxGranulometria}}</span>
          </div>
        </div>
        <div class="panelIngreso" id="asentamiento" style="display: none;">
          
          <div class="uk-margin">
            <table class="uk-table uk-table-striped">
              <thead>
                  <tr>
                      <th>Tipo de estructura</th>
                      <th>Slump Max</th>
                      <th>Slump min</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Zapatas y muros de cimentacion reforzada</td>
                      <td>3"</td>
                      <td>1"</td>
                  </tr>
                  <tr>
                      <td>Cimentacion simple y calzaduras</td>
                      <td>3"</td>
                      <td>1"</td>
                  </tr>
                  <tr>
                      <td>Vigas y muros armados</td>
                      <td>4"</td>
                      <td>1"</td>
                  </tr>
                  <tr>
                    <td>Columnas </td>
                    <td>4"</td>
                    <td>2"</td>
                  </tr>
                  <tr>
                    <td>Losas y pavimentos</td>
                    <td>3"</td>
                    <td>1"</td>
                </tr>
                <tr>
                  <td>Concreto ciclopeo</td>
                  <td>2"</td>
                  <td>1"</td>
              </tr>
              </tbody>
          </table>
          <label class="uk-form-label" for="form-horizontal-select">Elija los tipos de estructura</label>
            <br>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <ul>
                <li><label><input id="uk-checkbox1" class="uk-checkbox" type="checkbox" ng-model="a1"> Zapatas y muros de cimentacion reforzada</label></li>
                <li><label><input id="uk-checkbox2" class="uk-checkbox" type="checkbox" ng-model="a2"> Cimentacion simple y calzaduras</label></li>
                <li><label><input id="uk-checkbox3" class="uk-checkbox" type="checkbox" ng-model="a3"> Vigas y muros armados</label></li>
                <li><label><input id="uk-checkbox4" class="uk-checkbox" type="checkbox" ng-model="a4"> Columnas</label></li>
                <li><label><input id="uk-checkbox5" class="uk-checkbox" type="checkbox" ng-model="a5"> Losas y pavimentos</label></li>
                <li><label><input id="uk-checkbox6" class="uk-checkbox" type="checkbox" ng-model="a6"> Concreto Ciclopeo</label></li>
              </ul>
            </div>
            <br>
            <div>
              DEACUERDO A LAS ESPECIFICACIONES, LAS CONDICIONES DE COLOCACION <br>REQUIEREN QUE LA 
              MEZCLA TENGA CONSISTENCIA PLASTICA, <br> CORRESPONDIENTE A UN ASENTAMIENTO DE ENTRE {{slumpStringMax}}" y 
              {{slumpStringMin}}"
      
            </div>
            <br><br><br>
            <div class="nota">
              Nota: 
              <p>1) EL SLUMP PUEDE INCREMENTARSE CUANDO SE USAN ADITIVOS, 
                SIEMPRE QUE <br>NO SE MODIFIQUE LA RELACION AGUA/CEMENTO NI EXISTA SEGREGACION NI EXUDACION </p>
              <p>
                2) EL SLUMP PUEDE INCREMENTARSE EN "1" SI NO SE USA VIBRADOR EN LA COMPACTACION
              </p>
            </div>
        </div>
        </div>
        <div class="panelIngreso" id="volumenAgua" style="display: none;">
          <h3>Volumen de Agua</h3><br>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Incorporacion de aire</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="conOSinAireIncorporado" ng-model="conOSinAireIncorporado">
                    <option>Con aire incorporado</option>
                    <option>Sin aire incorporado</option>
                </select>
            </div>
        </div>
        <div>
         El volumen unitario de agua debe ser de {{volumenUnitarioDeAgua}}lt/m&#179
        </div>

        </div>
        <div class="panelIngreso" id="contAire" style="display: none;">
          <h3>Contenido de Aire</h3><br>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Grado de exposicion</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="gradoDeExposicion" ng-model="gradoDeExposicion">
                    <option>Sin grado de exposicion</option>
                    <option>normal</option>
                    <option>moderado</option>
                    <option>extremo</option>
                </select>
            </div>
        </div>
        <div>
          contenido de aire recomendado {{aireAtrapado_Incorporado}} %
        </div>
        </div>
        <div class="panelIngreso" id="relacion" style="display: none;">
          <h3>Relacion Agua/Cemento</h3><br>
        <div>
          Relacion Agua/Cemento {{relacionAguaCemento}}
        </div>
        </div>
        <div class="panelIngreso" id="factCemento" style="display: none;">
          <h3>Factor Cemento</h3><br>
          <div>
           Factor cemento de {{factorCemento}} kg/m&#179
          </div>
        </div>
        <div class="panelIngreso" id="contAgreGrueso" style="display: none;">
          <h3>Contenido de Agregado Grueso</h3><br>
          <div>
            Contenido de agregado grueso {{ContenidoAgregadoGrueso}} kg/m&#179
          </div>
        </div>
        <div class="panelIngreso" id="volumenesAbsolut" style="display: none;">
          <h3>Volumenes Absolutos</h3><br>
          <div>
            Suma de volumenes conocidos (m&#179)<span> {{sumaVolumenesConocidosM}}</span>
          </div>
          <div>
            Suma de volumenes conocidos (kg)<span> {{sumaVolumenesConocidosKg}}</span>
          </div>
        </div>
        <div class="panelIngreso" id="agregadoFino" style="display: none;">
          <h3>Agregado Fino</h3><br>
          <div>
            Volumen absoluto del agregado fino <span>{{volumenAbsolutoAgregadoFino}}</span>m&#179
          </div>
          <div>
            Peso del agregado fino seco <span>{{pesoAgregadoFinoSeco}}</span>kg/m&#179
          </div>
        </div>
        
        <div class="panelIngreso" id="correccionPoHumedadAgregado" style="display: none;">
          <h3>Corrección por Humedad</h3><br>
          <div>
            cemento<span> {{factorCemento}}</span>kg/m&#179
          </div>
          <div>
            Agua efectiva<span> {{aguaEfectiva}}</span>lt/m&#179
          </div>
          <div>
            Agregado fino humedo<span> {{agregadoFinoHumedo}}</span>kg/m&#179
          </div>
          <div>
            Agregado grueso humedo<span> {{agregadoGruesoHumedo}}</span>kg/m&#179
          </div>
        </div>
        <div class="panelIngreso" id="proporcionPeso" style="display: none;">
          <h3>Proporcion en Peso</h3><br>
          <div>
            Relacion agua-cemento de diseño <span> {{relacionAguaCementoDeDiseno}}</span>
          </div>
          <div>
            Relacion agua-cemento efectiva<span> {{relacionAguaCementoEfectiva}}</span>
          </div>
        </div>
        <ul>
          <li>
            <button class="botonIzq uk-button-primary" id="botonAtras" ng-click="atras()">Atras</button>
          </li>
          <li>
            <button class="botonIzq uk-button-primary" id="botonSiguiente" ng-click="siguiente()">Siguiente</button>
          </li>
        </ul>
        <br><br>
      </div>


      </div>
      </div>
      <br>
      </div>
      
      
    </div>

    <div class="uk-container" id="recomendaciones">
      <h2>Recomendaciones</h2>
      <ol>
        <li>1. Escriba los numeros decimales con punto (.)</li>
        <li>2. Complete todos los espacios</li>
        <li>3. Al cambiar algún valor vuelva a oprimir el botón "calcular"</li>
        <li></li>
      </ol>
      <br><br>
    </div>
    <br>
  <footer uk-sticky="offset: 100">
    <div id="footer">
      <div class="footerSub" id="footerSub1">
        Contacto: <br>
        chimbi.miler@uniagraria.edu.co <br>
        piratoba.cristian@uniagraria.edu.co<br>
        villate.juan@uniagraria.edu.co <br>
        pinerez.william@uniagraria.edu.co
        
      </div>
      <div class="footerSub" id="footerSub2">
        Software para diseño de mezclas de concreto simple  según método ACI 211. <br><br>
        Autores: <br> 
        <ul>
          <li>- Miler Leandro Chimbi Posso </li>
          <li>- Cristian Alexander Piratoba Cardenas</li>
          <li>- Juan Pablo Villate Diaz</li>
          <li>- William Alfonso Piñerez Bettin</li>
        </ul>

      </div>
      <div class="footerSub" id="footerSub3"> 
          <br>
          <svg id="logo" height="90" width="90">
            <circle cx='41' cy='41' r='40' stroke='white' stroke-width='1' fill-opacity="0" />
            <circle cx='41' cy='41' r='37' stroke='white' stroke-width='2' fill-opacity="0" />
            <circle cx='41' cy='41' r='33' stroke='white' stroke-width='3' fill-opacity="0" />
            <circle cx='41' cy='41' r='28' stroke='white' stroke-width='4' fill-opacity="0" />
            <text x="20" y="52" stroke="white" fill='white' font-size="32">UA</text>
          </svg>
        <svg height="50" width="180">
          <text x='15' y='19' stroke="white" stroke-width='1' fill='white' font-size="19">U N I A G R A R I A</text>
          <line x1="15" x2="172" y1='28' y2="28" stroke="white" stroke-width='0.8'></line>
          <text x='15' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">LA</text>
          <text x='33' y='46' stroke="white" stroke-width='0.8' fill='white' font-size="12.5">U VERDE</text>
          <text x='88' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">DE COLOMBIA</text>
        </svg>
      </div>
    </div>
    <hr>
    <div id="linksC">

      <a href="https://es-la.facebook.com/uagraria/" class="BrandIcon"><img src = "img-icon/facebook-square-brands.svg" alt="facebook" height="35px" width="35px" /></a>
      <a href="https://www.instagram.com/uniagraria/?hl=es" class="BrandIcon"><img src = "img-icon/instagram-brands.svg" alt="instagram-brands" height="35px" width="35px" /></a>
      <a href="https://co.linkedin.com/school/uniagraria/" class="BrandIcon"><img src = "img-icon/linkedin-in-brands.svg" alt="instagram-brands" height="35px" width="35px" /></a>
      
    </div>
  
  </footer>

    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="app.js"></script>
    
  </body>
</html>