<!doctype html>
<html lang="en" ng-app="Mezclas">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS --
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="uikit/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="uikit-3.7.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Calcule Mezclas</title>
  </head>
  <!--<body background="fondo.jpg">-->
  <body>
    <nav class="uk-navbar-container uk-margin" id="nav" uk-navbar>
      <div class="uk-navbar-center uk-margin">
        <div class="uk-margin-small-top uk-margin-small-left">
          <svg id="logo" height="90" width="90">
            <circle cx='40' cy='40' r='40' stroke='white' stroke-width='1' fill-opacity="0" />
            <circle cx='40' cy='40' r='37' stroke='white' stroke-width='2' fill-opacity="0" />
            <circle cx='40' cy='40' r='33' stroke='white' stroke-width='3' fill-opacity="0" />
            <circle cx='40' cy='40' r='28' stroke='white' stroke-width='4' fill-opacity="0" />
            <text x="19 n" y="51" stroke="white" fill='white' font-size="32">UA</text>
          </svg>
        </div>
        <div class=" uk-visible@s">
          <svg height="50" width="180">
            <text x='15' y='19' stroke="white" stroke-width='1' fill='white' font-size="19">U N I A G R A R I A</text>
            <line x1="15" x2="172" y1='28' y2="28" stroke="white" stroke-width='0.8'></line>
            <text x='15' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">LA</text>
            <text x='33' y='46' stroke="white" stroke-width='0.8' fill='white' font-size="12.5">U VERDE</text>
            <text x='88' y='46' stroke="white" stroke-width='0.3' fill='white' font-size="12.5">DE COLOMBIA</text>
          </svg>
        </div>
        <div class="">
          <h1></h1>
        </div>
      </div>
    </nav><!-- fin del navabar/////////////////////-->

    <div id="banner">
      <div class="" id="banner1">
        <article class="uk-article">

          <h1 class="uk-article-title"><a class="uk-link-reset" href="">Texto introductivo</a></h1>
      
          <!--<p class="uk-text-lead">rud exercitation ullamco laboris nisi ut aliquip.</p>-->

          <p>Lorem ipsum incidiiqua. Ut enim ad minim veniam, quis nostro laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </article>
      </div>
      <div id="banner2" class="uk-visible@m">
        <img src="fondo.jpg" alt="calculo mexclas ingenieria civil">
      </div>
    </div>
    <br><br>
    
    <div class="uk-container">
      
    </div>
    <div class="uk-container" ng-controller="Controlador1" id="panelGrande">
      
      <div class="uk-container"></div>
      
      <div class="" id="panelIzq">
        <ul>
          <li>
            <button class="botonIzq uk-button-secondary" id="botonContainerIngreso" ng-click="setVisiblePanel(1)">Ingreso</button>
          </li>
          <li>
            <button class="botonIzq uk-button-secondary" id="botonContainerResultado" ng-click="setVisiblePanel(2)">Resultados</button>
          </li>
        </ul>
        <button class="botonDerecho  uk-button-primary" id="botonCalcular" ng-click="calcular()">Calcular</button>
      </div>
      <br>
      <div>
        <div class="panel uk-container" id ="panelIngreso" style="display:inline-block;">
          <br>
          <div class="panelBotones" >
            <ul>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(1);"> PesoEspecifico</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(2);"> Absorcion</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(3);"> Contenido de Humedad</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(4);"> Modulo Fineza</button></li>
              <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleIngreso(5);"> Tamaño Max y peso Seco</button></li>
            </ul>
        
          </div>
          <div class="contenido">
        <div class="panelIngreso" id="pesoEspecifico">
          <div id="pesoSecoCemento">
            <div class="uk-margin">
             Peso especifico del Cemento<input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="pesoEspecificoCemento"  ng-model="pesoEspecificoCemento"> gr/cm3
            </div>
            <div class="uk-margin">
              Peso especifico del Agregado Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="pesoEspecificoAgregadoFino" ng-model="pesoEspecificoAgregadoFino"> gr/cm3
             </div>
             <div class="uk-margin">
              Peso especifico del Agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="pesoEspecificoAgregadoGrueso" ng-model="pesoEspecificoAgregadoGrueso"> gr/cm3
             </div>
          </div>
        </div>
        <div class="panelIngreso" id="absorcion" style="display: none;">
           <div class="uk-margin">
            Absorcion del Agregado Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="absorcionAgregadoFino" ng-model="absorcionAgregadoFino"> gr/cm3
            </div>
            <div class="uk-margin">
            Absorcion del Agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="absorcionAgregadoGrueso" ng-model="absorcionAgregadoGrueso"> gr/cm3
            </div>
        </div>
        <div class="panelIngreso" id="ContenidoHumedad" style="display: none;">
           <div class="uk-margin">
            Contenido de Humedad Fino <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="contenidoHumedadAgregadoFino" ng-model="contenidoHumedadAgregadoFino"> gr/cm3
            </div>
            <div class="uk-margin">
              Contenido de Humedad Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="contenidoHumedadAgregadoGrueso" ng-model="contenidoHumedadAgregadoGrueso"> gr/cm3
            </div>
        </div>

        <div class="panelIngreso" id="moduloFineza" style="display: none;">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Modulo Fineza agregado fino</label>
            <div class="uk-form-controls">
                <select class="uk-select  uk-form-width-small" id="moduloFinezaAgregadoFino" ng-model="moduloFinezaAgregadoFino">
                    <option>2.4</option>
                    <option>2.6</option>
                    <option>2.8</option>
                    <option>3</option>
                </select>
            </div>
        </div>
            <div class="uk-margin">
              modulo fineza agregado grueso<input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="moduloFinezaAgregadoGrueso" ng-model="moduloFinezaAgregadoGrueso"> gr/cm3
            </div>
        </div>

        <div class="panelIngreso" id="tamanoPesoSeco" style="display: none;">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Tamaño maximo Agregado grueso</label>
            <div class="uk-form-controls">
                <select class="uk-select  uk-form-width-small" id="tamanoMAxAgregadoGrueso" ng-model="tamanoMAxAgregadoGrueso">
                    <option>3/8</option>
                    <option>1/2</option>
                    <option>3/4</option>
                    <option>1</option>
                    <option>1.5</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="uk-margin">
          Peso seco compactado agregado Grueso <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="pesoSecoAgregadoGrueso" ng-model="pesoSecoAgregadoGrueso"> gr/cm3
        </div>
        <div class="uk-margin">
          Resistencia en compresion <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="resistenciaEnCompresion" ng-model="resistenciaEnCompresion"> gr/cm3
         </div>
         <div class="uk-margin">
          Desviacion estandar <input class="uk-input uk-form-width-medium" type="number" placeholder="Default" id="desviacionEstandar" ng-model="desviacionEstandar"> gr/cm3
         </div>
        </div>

        <ul>
          <li>
            <button class="botonIzq uk-button-primary" id="botonAtras" ng-click="atras()">Atras</button>
          </li>
          <li>
            <button class="botonIzq uk-button-primary" id="botonSiguiente" ng-click="siguiente()">Siguiente</button>
          </li>
        </ul>
        <br><br>
        </div>
      </div>

      <div class="panel uk-container" id ="panelResultados" style="display:none;">
        <br>
        <div class="panelBotones">
          <ul>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(1);"> Resistencia y tamaño del agregado</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(2);"> Asentamiento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(3);"> Volumen de Agua</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(4);"> Contenido Aire</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(5);"> Relacion agua cemento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(6);"> Factor cemento</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(7);"> Contenido Agregado grueso</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(8);"> Volumen absoluto</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(9);"> Contenido de Agregado Fino</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(10);"> Correcion por humedad</button></li>
            <li><button class="selec_Panel uk-button-primary" ng-click="setVisibleResultado(11);"> Proporcion en peso</button></li>
            
          </ul>
        </div>
        <div class="contenido">
        <div class="panelIngreso" id="resistenciaTamMax">
          
          <div>
            resistencia promedio <span id=resistenciaPromedio>{{resistenciaPromedio}}</span>
          </div>
          <div>
            DEACUERDO A LAS ESPECIFICACIONES DE OBRA, A LA GRANULOMETRIA DEL <br>AGREGADO 
            LE CORRESPONDE UN TAMAÑO MAXIMO DE 
             <span id=resistenciaPromedio>{{tamanoMaxGranulometria}}</span>
          </div>
        </div>
        <div class="panelIngreso" id="asentamiento" style="display: none;">
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Tipo de estructura</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="tipoEstructura" ng-model="tipoEstructura">
                    <option>Zapatas y muros de cimentacion reforzada</option>
                    <option>Cimentacion simple y calzaduras</option>
                    <option>Vigas y muros armados</option>
                    <option>Columnas</option>
                    <option>Losas y pavimentos</option>
                    <option>Concreto Ciclopeo</option>
                </select>
            </div>
            <br>
            <div>
              DEACUERDO A LAS ESPECIFICACIONES, LAS CONDICIONES DE COLOCACION <br>REQUIEREN QUE LA 
              MEZCLA TENGA CONSISTENCIA PLASTICA, <br> CORRESPONDIENTE A UN ASENTAMIENTO DE ENTRE {{slumpStringMax}} y 
              {{slumpStringMin}}
      
            </div>
            <br><br><br>
            <div class="nota">
              Nota: 
              <p>1) EL SLUMP PUEDE INCREMENTARSE CUANDO SE USAN ADITIVOS, 
                SIEMPRE QUE <br>NO SE MODIFIQUE LA RELACION AGUA/CEMENTO NI EXISTA SEGREGACION NI EXUDACION </p>
              <p>
                2) EL SLUMP PUEDE INCREMENTARSE EN "1" SI NO SE USA VIBRADOR EN LA COMPACTACION
              </p>
            </div>
        </div>
        </div>
        <div class="panelIngreso" id="volumenAgua" style="display: none;">
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Incorporacion de aire</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="conOSinAireIncorporado" ng-model="conOSinAireIncorporado">
                    <option>Con aire incorporado</option>
                    <option>Sin aire incorporado</option>
                </select>
            </div>
        </div>
        <div>
          {{volumenUnitarioDeAgua}}
        </div>

        </div>
        <div class="panelIngreso" id="contAire" style="display: none;">
         
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Grado de exposicion</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="gradoDeExposicion" ng-model="gradoDeExposicion">
                    <option>Sin grado de exposicion</option>
                    <option>normal</option>
                    <option>moderado</option>
                    <option>extremo</option>
                </select>
            </div>
        </div>
        <div>
          {{aireAtrapado_Incorporado}} %
        </div>
        </div>
        <div class="panelIngreso" id="relacion" style="display: none;">
          
        <div>
          {{relacionAguaCemento}}
        </div>
        </div>
        <div class="panelIngreso" id="factCemento" style="display: none;">
          
          <div>
            {{factorCemento}}
          </div>
        </div>
        <div class="panelIngreso" id="contAgreGrueso" style="display: none;">
          
          <div>
            {{ContenidoAgregadoGrueso}}
          </div>
        </div>
        <div class="panelIngreso" id="volumenesAbsolut" style="display: none;">
          
          <div>
            Suma de volumenes conocidos (m3)<span> {{sumaVolumenesConocidosM}}</span>
          </div>
          <div>
            Suma de volumenes conocidos (kg)<span> {{sumaVolumenesConocidosKg}}</span>
          </div>
        </div>
        <div class="panelIngreso" id="agregadoFino" style="display: none;">
          
          <div>
            Volumen absoluto del agregado fino <span>{{volumenAbsolutoAgregadoFino}}</span>
          </div>
          <div>
            Peso del agregado fino seco <span>{{pesoAgregadoFinoSeco}}</span>
          </div>
        </div>
        
        <div class="panelIngreso" id="correccionPoHumedadAgregado" style="display: none;">
          
          <div>
            cemento<span> {{factorCemento}}</span>
          </div>
          <div>
            Agua efectiva<span> {{aguaEfectiva}}</span>
          </div>
          <div>
            Agregado fino humedo<span> {{agregadoFinoHumedo}}</span>
          </div>
          <div>
            Agregado grueso humedo<span> {{agregadoGruesoHumedo}}</span>
          </div>
        </div>
        <div class="panelIngreso" id="proporcionPeso" style="display: none;">
          
          <div>
            Relacion agua-cemento de diseño <span> {{relacionAguaCementoDeDiseno}}</span>
          </div>
          <div>
            Relacion agua-cemento efectiva<span> {{relacionAguaCementoEfectiva}}</span>
          </div>
        </div>
        <ul>
          <li>
            <button class="botonIzq uk-button-primary" id="botonAtras" ng-click="atras()">Atras</button>
          </li>
          <li>
            <button class="botonIzq uk-button-primary" id="botonSiguiente" ng-click="siguiente()">Siguiente</button>
          </li>
        </ul>
        <br><br>
      </div>


      </div>
      </div>
      <br>
      </div>
      
      
    </div>


    
  <footer uk-sticky="offset: 100">
    <div id="footer">
      <div class="footerSub" id="footerSub1">
        Info de contacto 
        adkjhs
        sajda
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia deserunt facilis enim blanditiis quae maxime ducimus tenet
      </div>
      <div class="footerSub" id="footerSub2">
        info de la u 
        saldfjaioshiahiuhaskjdbashajsbckjas
        asckjasbchbashcscbsd
      </div>
      <div class="footerSub" id="footerSub3"> 
        mas info asndkjabs,maskjbcka askbd,masckjasjchjbs acbjabcjhbdjchb sjhcgsgdhc
      </div>
    </div>
  </footer>

    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="app.js"></script>
    
  </body>
</html>