*{
	list-style:none;
	box-sizing: border-box;
}
body {
  /*background: url(fondo.jpg); */
  background-color: #1566cf;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
 /*height: 100%;*/
  overflow: auto;
}
.panelIngreso{
	
	padding: 40px;
	background-color: white;
	width: 100%;
	min-width: 250px;
	min-height: 100px;
	height: 100%;
}
.nota{
	font-size: small;
	position: relative;
	bottom: 0px;
}

.panelBotones{
	position: relative;
    float: left;
	
}
#banner{
	background-color: white;
	overflow: auto;
	
}

#banner1{
	
	padding: 35px;
	background-color: white;
	position: relative;
    float: left;
	width: 50%;
	
	
}
#banner2{
	background-color: transparent;
	background: url(fondo.jpg);
	position: relative;
    float: left;
	width: 50%;
}
.botonIzq{
	font-size: 17px;
	position: relative;
	float: left;
	width: 100px;
	height: 32px;
}
#botonCalcular{
	font-size: 18px;
	position: relative;
	float: right;
	width: 100px;
	height: 32px;
	margin-top: 5px;
	background-color: #66cc32;
}
#botonCalcular:hover{
	background-color: #56e211;
}
.contenido{
	position: relative;
	height: 100%;
    float: left;
}
.uk-container{
	background-color: white;

}
.selec_Panel{
	padding: 10px;
	width: 100%;
	font-size: 15px;

}
.panel {
	
	width: 100%;
	background-color: white;
	position:relative; 
	clear: both;
}
#panelGrande{
	width: 90%;
	background-color: #1566cf;
	overflow-x: hidden;
}

#panelIzq{
	width: 90%;
	background-color: transparent;
	
}

#nav {
	color: white;
	background-color: #66cc32;

}
footer {
	width: 100%;
	padding: 40px;
	color: white;
	background-color: #042828;
	bottom: 0px;
}
#botonAtras{
	position: relative;
	float: left;
	width: 95px;
	height: 30px;
}
#botonSiguiente{
	position: relative;
	float: right;
	width: 95px;
	height: 30px;
	margin-right: 10px;
}
#recomendaciones{
	padding: 20px;
	
	width: 86%;
}

#footer{
	overflow: auto;
	
}
.footerSub{
	box-sizing: border-box;
	margin: 20px;
}
#footerSub1{
	position: relative;
	float: left;
	width: 90%;
}
#footerSub2{
	position: relative;
	float: left;
	width: 90%;
}

#footerSub3{
	position: relative;
	float: left;
	width: 90%;
}
#linksC{
	display: flex;
	justify-content: center;
}
.BrandIcon{
	margin-left: 8px;
	margin-right: 8px;
}

@media only screen and (min-width: 600px) { /*disp pequeños*/
	.selec_Panel{
		width: 100%;
		padding: 10px;
		border-radius: 0%;
		
		
	}
	#banner1{
	
		padding: 35px;
		background-color: white;
		position: relative;
		float: left;
		width: 100%;
		
		
	}

}


@media only screen and (max-width: 767px) {
	#banner1{
	
		padding: 35px;
		background-color: white;
		position: relative;
		float: left;
		width: 100%;
		
		
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#banner1{
	
		padding: 35px;
		background-color: white;
		position: relative;
		float: left;
		width: 50%;
		
		

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#banner1{
	
		padding: 35px;
		background-color: white;
		position: relative;
		float: left;
		width: 50%;	
	}

}
#footer{
	overflow: auto;
	width: 100%;
}
.footerSub{
	box-sizing: border-box;
	margin: 20px;
}
#footerSub1{
	position: relative;
	float: left;
	width: 27%;
}
#footerSub2{
	position: relative;
	float: left;
	width: 27%;
}

#footerSub3{
	position: relative;
	float: left;
	width: 27%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#banner1{
	
		padding: 35px;
		background-color: white;
		position: relative;
		float: left;
		width: 50%;
		
		
	}
}